:root {
  --wrapperHeight: 75vh;
  --smartphoneHeader: 0.067;
  --smartphoneMainHeightSmall: 0.840;
  --smartphoneMainHeight: 0.932;
  --smartphoneWidth: 0.349;
  --tabletWidth: 1.816;
  --desktopWidth: 2.798;

  --sectionHeightSmall: calc(var(--wrapperHeight) * var(--smartphoneMainHeightSmall) / 6);
  --sectionHeight: calc(var(--wrapperHeight) * var(--smartphoneMainHeight) / 6);

  --squareSize: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.325);
  --squareMarginTopBig: calc(var(--squareSize) * 0.726);
  --squareMarginTopMedium: calc(var(--squareSize) * 0.668);
  --squareMarginTopSmall: calc(var(--squareSize) * 0.65);

  --squareMarginLeftBig: calc(var(--squareSize) * 0.115);
  --squareMarginLeftSmall: calc(var(--squareSize) * 0.072);

  --lowRectangleWidht: calc(var(--squareSize) * 1.021);
  --lowRectangleHeight: calc(var(--squareSize) * 0.155);
  --lowRectangleMarginLeftBig: calc(var(--squareSize) * 0.135);
  --lowRectangleMarginLeftSmall: calc(var(--squareSize) * 0.109);

  --circleWidth: calc(var(--lowRectangleWidht) * 0.872);
  --circleHeight: calc(var(--lowRectangleWidht) * 0.79);
  --circleMarginSmall: calc(var(--lowRectangleWidht) * 0.239);
  --circleMarginBig: calc(var(--lowRectangleWidht) * 0.341);

  --highRectangleWidth: calc(var(--squareSize) * 1.595);
  --highRectangleHeight: calc(var(--squareSize) * 3.48);
  --highRectangleMarginLeft: calc(var(--highRectangleWidth) * 0.318);
  --highRectangleMarginTop: calc(var(--highRectangleWidth) * 0.039);

  --animation-time: 1s;

  --borderColor: rgb(0, 0, 0);
  --borderThicknessSmall: 3px solid;
  --borderThicknessMedium: 4px solid;
  --borderThicknessBig: 5px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.block-wrapper {
  width: 100%;
  max-width: calc(var(--wrapperHeight) * var(--smartphoneWidth));
  transition: max-width var(--animation-time);
}

.block-wrapper__header {
  height: calc(var(--wrapperHeight) * var(--smartphoneHeader));
  border: var(--borderThicknessSmall) var(--borderColor);
  background-color: rgb(128, 128, 0);
}

.block-wrapper__main {
  position: relative;
  height: calc(var(--sectionHeightSmall) * 6);
  border: var(--borderThicknessSmall) var(--borderColor);
  border-top: none;
  background-color: rgb(0, 128, 0);
  transition: height var(--animation-time);
  overflow-y: hidden;
}

/* First block of elements */
.figures-wrapper--first {
  height: calc(var(--sectionHeightSmall) * 2);
}

.square-wrapper {
  display: flex;
  width: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.774);
  transform: translate(var(--squareMarginLeftBig), var(--squareMarginTopBig)) rotate(-44deg);
}

.square-wrapper__rotated-square {
  width: var(--squareSize);
  height: var(--squareSize);
  border: var(--borderThicknessSmall) var(--borderColor);
  background-color: rgb(255, 0, 0);
}

.square-wrapper__rotated-square--left {
  margin-right: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.122);
}

.square-wrapper__rotated-square--right {
  transform: translate(calc(var(--squareSize) * 0.001), calc(var(--squareSize) * 0.04));
}

/* Second block of elements */
.figures-wrapper--second {
  position: absolute;
  top: calc(var(--sectionHeightSmall) * 2);
  left: 0;
  display: flex;
  align-items: flex-end;
  height: calc(var(--sectionHeightSmall));
  padding-bottom: 4px;
  transition: all var(--animation-time);
}

.figures-wrapper--internal {
  display: flex;
  align-items: center;
}

.low-rectangle {
  width: var(--lowRectangleWidht);
  height: var(--lowRectangleHeight);
  margin-left: var(--lowRectangleMarginLeftBig);
  border: var(--borderThicknessSmall) var(--borderColor);
  background-color: rgb(0, 0, 255);
}

.low-rectangle--bottom {
  margin-top: calc(var(--lowRectangleHeight) * 1.8);
  transform: translateX(-1px);
}

.circle {
  width: var(--circleWidth);
  height: var(--circleHeight);
  margin-left: var(--circleMarginSmall);
  border: var(--borderThicknessSmall) var(--borderColor);
  border-radius: 50%;
  background-color: rgb(0, 128, 128);
  transition: margin-left var(--animation-time);
}

/* Third block of elements */
.figures-wrapper--third {
  position: absolute;
  top: calc(var(--sectionHeightSmall) * 3);
  display: flex;
  height: calc(var(--sectionHeightSmall) * 3);
  transition: all var(--animation-time);
}

.high-rectangle {
  width: var(--highRectangleWidth);
  height: var(--highRectangleHeight);
  margin: var(--highRectangleMarginTop) 0 0 var(--highRectangleMarginLeft);
  border: var(--borderThicknessSmall) var(--borderColor);
  background-color: rgb(0, 0, 255);
  transition: background-color var(--animation-time);
}

.high-rectangle::after {
  content: "ABC";
  display: flex;
  justify-content: center;
  margin-top: calc(var(--highRectangleHeight) * 0.09);
  font-family: 'Prompt', sans-serif;
  font-size: calc(var(--highRectangleHeight) * 0.115);
}

@media (min-width: 583px) and (max-width: 900px) {
  .block-wrapper {
    max-width: calc(var(--wrapperHeight) * var(--smartphoneWidth) * var(--tabletWidth));
  }

  .block-wrapper__header {
    border: var(--borderThicknessMedium) var(--borderColor);
  }

  .block-wrapper__main {
    height: calc(var(--sectionHeight) * 3);
  }

  .figures-wrapper {
    width: 50%;
  }

  .figures-wrapper--first {
    height: calc(var(--sectionHeight) * 2);
  }

  .figures-wrapper--second {
    top: calc(var(--sectionHeight) * 2);
    height: var(--sectionHeight);
    align-items: center;
  }

  .square-wrapper {
    transform: translate(var(--squareMarginLeftSmall), var(--squareMarginTopMedium)) rotate(-43deg);
  }

  .figures-wrapper--internal {
    margin-bottom: 12.3%;
  }

  .low-rectangle {
    margin-left: var(--lowRectangleMarginLeftSmall);
  }

  .low-rectangle--bottom {
    margin-top: calc(var(--lowRectangleHeight) * 1.7);
  }

  .circle {
    margin: 0 0 0 var(--circleMarginBig) ;
  }

  .figures-wrapper--third {
    top: 0;
    right: 0;
    height: calc(var(--sectionHeight) * 3);
    justify-content: flex-end;
    align-items: flex-end;
  }

  .high-rectangle {
    margin: 0 calc(var(--highRectangleWidth) * 0.13) calc(var(--highRectangleWidth) * 0.159) 0;
    background-color: rgb(200, 55, 55);
  }

  .high-rectangle::after {
    margin: calc(var(--highRectangleHeight) * 0.045) 0 0 0;
  }
}

@media (min-width: 901px) {
  .block-wrapper {
    max-width: calc(var(--wrapperHeight) * var(--smartphoneWidth) * var(--desktopWidth));
  }

  .block-wrapper__header {
    border: var(--borderThicknessBig) var(--borderColor);
  }

  .block-wrapper__main {
    height: calc(var(--sectionHeight) * 3);
  }

  .figures-wrapper {
    width: calc(100% / 3);
  }

  .square-wrapper {
    transform: translate(var(--squareMarginLeftSmall), var(--squareMarginTopSmall)) rotate(-43deg);
  }

  .figures-wrapper--second {
    height: calc(var(--sectionHeight) * 2);
    top: 0;
    left: calc(100% / 3);
    padding: 0;
  }

  .figures-wrapper--second {
    align-items: center;
  }

  .figures-wrapper--internal {
    margin: 0 0 10.1% 21.5%;
  }

  .figures-wrapper--third {
    position: absolute;
    top: auto;
    left: auto;
    right: calc(var(--highRectangleWidth) * 0.101);
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
    height: calc(var(--sectionHeight) * 3);
  }

  .high-rectangle {
    margin: 0;
    background-color: rgb(255, 255, 255);
  }

  .high-rectangle::after {
    margin: calc(var(--highRectangleHeight) * 0.055) 0 0 0 ;
  }
}