:root {
  --wrapperHeight: 75vh;
  --smartphoneHeader: 0.06749;
  --smartphoneMainHeight: 0.855298;
  --smartphoneWidth: 0.351428;
  --sectionHeightSmall: calc(var(--wrapperHeight) * var(--smartphoneMainHeight) / 6);

  --squareSize: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.325859);
  --squareMarginTopBig: calc(var(--squareSize) * 0.736923);
  --squareMarginLeftBig: calc(var(--squareSize) * 0.115091);

  --lowRectangleWidht: calc(var(--squareSize) * 1.021277);
  --lowRectangleHeight: calc(var(--squareSize) * 0.155574);
  --lowRectangleMarginLeftBig: calc(var(--squareSize) * 0.135);

  --circleWidth: calc(var(--lowRectangleWidht) * 0.872);
  --circleHeight: calc(var(--lowRectangleWidht) * 0.81);
  --circleMarginSmall: calc(var(--lowRectangleWidht) * 0.239583);




  --highRectangleWidth: calc(var(--squareSize) * 1.595);
  --highRectangleHeight: calc(var(--squareSize) * 3.518387);
  --highRectangleMarginLeft: calc(var(--highRectangleWidth) * 0.318);
  --highRectangleMarginTop: calc(var(--highRectangleWidth) * 0.035);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.block-wrapper {
  width: 100%;
  max-width: calc(var(--wrapperHeight) * var(--smartphoneWidth));
}

.block-wrapper__header {
  height: calc(var(--wrapperHeight) * var(--smartphoneHeader));
  border: 3px solid black;
  background-color: rgb(128, 128, 0);
}

.block-wrapper__main {
  height: calc(var(--sectionHeightSmall) * 6);
  border: 3px solid black;
  border-top: none;
  background-color: rgb(0, 128, 0);
}

/* First block of elements */
.figures-wrapper--first {
  position: relative;
  top: 0;
  left: 0;
  height: calc(var(--sectionHeightSmall) * 2);
}

.square-wrapper {
  display: flex;
  width: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.774605);
  height: var(--squareSize);
  transform: translate(var(--squareMarginLeftBig), var(--squareMarginTopBig)) rotate(-44deg);
}

.square-wrapper__rotated-square {
  width: var(--squareSize);
  height: var(--squareSize);
  border: 3px solid black;
  background-color: rgb(255, 0, 0);
}

.square-wrapper__rotated-square--left {
  margin-right: calc(var(--wrapperHeight) * var(--smartphoneWidth) * 0.122887);
}

.square-wrapper__rotated-square--right {
  transform: translate(calc(var(--squareSize) * 0.001), calc(var(--squareSize) * 0.04));
}

/* Second block of elements */
.figures-wrapper--second {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: calc(var(--sectionHeightSmall) * 1);
}

.figures-wrapper--internal {
  display: flex;
  align-items: center;
}

.low-rectangle {
  width: var(--lowRectangleWidht);
  height: var(--lowRectangleHeight);
  margin-left: var(--lowRectangleMarginLeftBig);
  border: 3px solid black;
  background-color: rgb(0, 0, 255);
}

.low-rectangle--bottom {
  margin-top: calc(var(--lowRectangleHeight) * 1.8);
  transform: translateX(-1px);
}

.circle {
  width: var(--circleWidth);
  height: var(--circleHeight);
  margin-left: var(--circleMarginSmall);
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgb(0, 128, 128);
}




/* Third block of elements */
.figures-wrapper--third {
  display: flex;
  height: calc(var(--sectionHeightSmall) * 3);
}

.high-rectangle {
  width: var(--highRectangleWidth);
  height: var(--highRectangleHeight);
  border: 3px solid black;
  background-color: rgb(0, 0, 255);
  margin: var(--highRectangleMarginTop) 0 0 var(--highRectangleMarginLeft);
}

.high-rectangle::after {
  content: "ABC";
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-family: 'Prompt', sans-serif;
  font-size: 2rem;
}